<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/components.css" />
    <link rel="stylesheet" href="css/form-preview.css" />
    <link rel="stylesheet" href="css/theming/form-themed.css" />
    <link rel="stylesheet" href="VisualEditorOpus.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body data-theme="light">
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/editor.js"></script>
    <script src="js/json-preview.js"></script>
    <script src="js/import-export.js"></script>
    <script src="js/importexport.js"></script>
    <script src="js/signature-resize.js"></script>
</body>

</html>
