@namespace VisualEditorOpus.Components.Workflow

<div class="keyboard-hints">
    <span><kbd>Scroll</kbd> to zoom</span>
    <span><kbd>Space</kbd> + drag to pan</span>
    <span><kbd>Ctrl</kbd> + <kbd>0</kbd> reset</span>
    <span><kbd>Ctrl</kbd> + <kbd>1</kbd> fit view</span>
</div>

@code {
}
