@* Single field type item in the palette *@

<div class="component-item" @onclick="HandleClick">
    <div class="component-icon">
        <i class="@Definition.Icon"></i>
    </div>
    <span class="component-name">@Definition.DisplayName</span>
</div>

@code {
    [Parameter] public required FieldTypeDefinition Definition { get; set; }
    [Parameter] public EventCallback<FieldTypeDefinition> OnAdd { get; set; }

    private async Task HandleClick()
    {
        await OnAdd.InvokeAsync(Definition);
    }
}
