@* Placeholder for Form Preview - to be implemented *@

<div class="view-placeholder">
    <div class="placeholder-content">
        <i class="bi bi-eye"></i>
        <h3>Form Preview</h3>
        <p>A rendered preview of your form will appear here.</p>
        <span class="placeholder-hint">Switch to Design view to continue editing</span>
    </div>
</div>
