@inherits LayoutComponentBase
@implements IDisposable

<div data-theme="@(ThemeService.IsDarkMode ? "dark" : "light")">
    <GlobalNav />
    <div class="main-content">
        @Body
    </div>
    <ToastContainer />
</div>

@code {
    [Inject] private IThemeService ThemeService { get; set; } = default!;

    protected override void OnInitialized()
    {
        ThemeService.OnThemeChanged += StateHasChanged;
    }

    public void Dispose()
    {
        ThemeService.OnThemeChanged -= StateHasChanged;
    }
}
