@* Skeleton loading placeholder for ThemeCard *@

<div class="theme-card-skeleton">
    <div class="skeleton-preview shimmer"></div>
    <div class="skeleton-content">
        <div class="skeleton-header">
            <div class="skeleton-title shimmer"></div>
            <div class="skeleton-icon shimmer"></div>
        </div>
        <div class="skeleton-date shimmer"></div>
    </div>
</div>
