@inherits LayoutComponentBase
@using DynamicForms.Editor.Components.Navigation

<PageTitle>DynamicForms.Editor</PageTitle>

<GlobalNav />

<div class="main-content">
    @Body
</div>

<DynamicForms.Editor.Components.Shared.ToastContainer />
